################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/projet_cpp_enjmin/.vs/projet_cpp_enjmin/v15
/projet_cpp_enjmin/projet_cpp_enjmin/Debug
/projet_cpp_enjmin/Debug
